.case_one {
	width: 100%;
	height: 100vh;
}

.case_one .content {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.content .point {
	display: flex;
	flex-direction: column;
	margin: 30px;
}

.point .list_fruits {
	display: flex;
	gap: 10px;
}

.list_fruits .fruit,
.wadah,
.stock,
.komen {
	width: auto;
	height: auto;
	padding: 8px 10px;
	text-align: start;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	margin: 0px;
}
