.home {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 250px);
	justify-content: center;
	align-items: center;
	gap: 10px;

	/* display: 'flex', */
	/* flex-wrap: wrap; */
	max-width: 100%;
	/* height: '100%' */
}

.home .btn-case {
	width: 100px;
	background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
	border: none;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	font-size: 14px;
	color: white;
	letter-spacing: 0.15em;
	font-weight: bold;
	cursor: pointer;
}

.btn-case:hover {
	background-color: aqua;
}
