.section_four {
	width: 100%;
	height: auto;
	padding: var(--basic-layout);
}

.section_four .layout {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section_four .home-content-left {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 30px;
}

.home-content-left .content {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.home-content-left h1 {
	font-family: Volkhov;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 64px;
	text-transform: capitalize;
	color: #14183e;
}

.home-content-left .content img {
	height: 50px;
}

.home-content-left .content .deskripsi {
	display: flex;
	flex-direction: column;
	/* width: 300px; */
}

.home-content-left .content .deskripsi .title {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	line-height: 124.5%;
	color: #5e6282;
	margin-bottom: 0;
}
.home-content-left .content .deskripsi .color {
	color: var(--color-primary);
	font-weight: 700;
	text-decoration: none;
}

.home-content-left .content .deskripsi p {
	text-transform: none;
	text-align: left;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 124.5%;
	color: #5e6282;
}

.section_four .home-content-right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.home-content-right img {
	width: 100%;
	/* height: 50%; */
}

@media screen and (max-width: 900px) {
	.section_four {
		padding: 0px 10px;
	}
}

@media screen and (max-width: 768px) {
	.section_four .layout {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 576px) {
	.section_four {
		padding: 0px 10px;
		display: flex;
		justify-content: center;
	}

	.section_four .home-content-left {
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	.home-content-left h1 {
		text-align: center;
	}
}
